* {
  padding: 0;
  margin: 0;
}
.Lottery {
  margin-top: 10vh;
  width: 80vw;
  border: 1px solid rgba(0, 0, 0, 0.281);
  border-radius: 10px;
  box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.144);
}
.Lottery-title {
  margin-top: 5vh;
  font-size: 2rem;
}
.Lottery-balls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5% 0;
}
.Lottery-button {
  margin-bottom: 5vh;
  width: 15vw;
  height: 10vh;
  font-size: 1.3rem;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.144);
  transition: 0.2s all;
}
.Lottery-button:hover {
  cursor: pointer;
  background-color: rgb(255, 115, 0);
}